ngb-rating {
  color: #FFC107;
}


.star {
  position: relative;
  display: inline-block;
  color: #d3d3d3;

  &.full {
    color: #ffa600;
  }

  &.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #ffa600;
  }
}
