<app-header></app-header>

<div class="container container-fluid">
  <div class="row row justify-content-md-center">
    <div class="col-6">
      <h2 class="text-center mt-3">Title</h2>
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ipsum a arcu cursus
        vitae congue mauris rhoncus aenean vel.
      </p>
    </div>
  </div>
</div>

<app-search></app-search>

<app-movie-details></app-movie-details>

<app-footer></app-footer>
